*,
*::before,
*::after {
    box-sizing: inherit;
}


html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px;  
    @media only screen and (min-width: 1900px) {
        font-size: 82.5%;
        }
    
}


body {
    font-family: Montserrat;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    
  
}