.upper {
    border: 1px solid green;
    display: flex;
}

.text  {
    width:50%;
    .logo {
        width: 20rem;
    }
     h1 {
            // width: 505px;
            // height: 272px;
            font-size: 62px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.18;
            letter-spacing: -1.11px;
            color: #343b46;  
        }
    p {
        // width: 505px;
        // height: 177px;
        font-size: 20.3px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.73;
        letter-spacing: -0.67px;
        color: #343b46; 
    }
}

.bowlContainer {
    width: 50%;
    position: relative;

    .bowl{
        width: 80%;
        position: absolute;
        left: 0;
        top: 8rem;
    }

    .rectangle{
        width: 100%;
        position: absolute;
        left: 6rem;
        top: 0;
        z-index: -1;
    }
}

.below{
    display: flex;
    flex-direction: row;
    .oval{
        width:20%;
    }
    .concepts{
        width:60%;
    }
    .blue{
        width:20%;
    }
}