.upper {
    // border: 1px solid green;
    display: flex;
    // position: absolute;
}

.text  {
    width:50%;
    padding: 5% 5% 5% 10%;
    @media only screen and (max-width: 1400px) {
        padding: 5% 2% 2% 5%;;
      }
  
    .logo {
        width: 25rem;
        @media only screen and (max-width: 1000px) {
            width: 15rem;
            }
    }
     h1 {
            font-size: 62px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.18;
            letter-spacing: -1.11px;
            color: #343b46; 
            @media only screen and (max-width: 1000px) {
            font-size: 45px;
            }

            @media only screen and (max-width: 1000px) {
                font-size: 35px;
                }
            @media only screen and (max-width: 600px) {
                font-size: 30px;
              min-width: 25rem;
                
                }
        }
    p {
        min-width: 40rem;
        font-size: 20.3px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.73;
        letter-spacing: -0.67px;
        color: #343b46; 

        @media only screen and (max-width: 1000px) {
            font-size: 18px;
            }
        @media only screen and (max-width: 600px) {
            min-width: 30rem;
            }
    }
}

.bowlContainer {
    width: 50%;
    position: relative;
    margin-top: 3%;
    @media only screen and (max-width: 1000px) {
        width: 70%;
    }

    .bowl{
        width: 80%;
        position: absolute;
        left: 6rem;
        top: 8rem;
        @media only screen and (max-width: 800px) {
            top: 3rem;
        }

        @media only screen and (max-width: 600px) {
            top: 2rem;
        }
      
    }

    .rectangleContainer{
        overflow: hidden;
        position: relative;
        z-index: -1;
        // border: 4px blue solid;
    }

    .rectangle{
        width: 100%;
        position: absolute;
        left: 12rem;
        top: 0;
        @media only screen and (max-width: 600px) {
        left: 9rem;
        }
    }
}

.below{
    // position: absolute;
    // top:70rem;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // border: 4px blue solid;
    width: 100%;
    
    .ovalContainer{
        position: relative;
        width:20%;
        z-index: -1;
    // border: 4px blue solid;

        .oval{
            position: absolute;
            top: -20rem;
            width: 80%;
            @media only screen and (max-width: 1000px) {
                width: 100%;
                }
                @media only screen and (max-width: 800px) {
                    width:0;
                            }
        }
    }
    .conceptsContainer{
        position: relative;
        width:60%;
        display: flex;
        // border: 4px bluec solid;
        flex-direction: column;
        align-items: center;
        @media only screen and (max-width: 800px) {
            width:100%;
                    }

        
        h2{

            font-size: 25.3px;
            font-weight: bold;
            line-height: 1.23;
            letter-spacing: -0.84px;
            text-align: center;
            color: #000000;
        }
        .concepts{
            // padding: 2% ; 
            // position: absolute;
            // top: -5rem;
            // border: 4px blue solid;
            width: 100%;


    
            ul {
                display: flex;
                // flex-direction: row;
                width: 100%;
                align-items: center;
                justify-content: center; 
                flex-wrap: wrap;

          
               
                // border: 4px blue solid;
                // @media only screen and (max-width: 1000px) {
                // justify-content: flex-start; 
                //   }
                
                
                li{
                    width: 14rem;
                    padding: 5px; 
                    list-style: none;
                    // flex: 0 0 14rem;
                // border: 4px blue solid;
                    margin-right: 40px;
                    // @media only screen and (max-width: 1400px) {
                    //     flex: 0 0 12rem;

                    //   }
                    //   @media only screen and (max-width: 600px) {
                    //     flex: 0 0 10rem
                    //             }
                }
            }

    
        }
        p {
            // border: 4px blue solid;
            font-size: 15.3px;
            font-weight: 500;
            line-height: 1.84;
            letter-spacing: -0.51px;
            text-align: center;
            color: #000000;
            width: 100%;
            padding: 0 10% 3rem 10%;
            @media only screen and (max-width: 1000px) {
                padding: 0 0 3rem 0;
                }
            @media only screen and (max-width: 800px) {
                padding: 1%;
                        }
        }
    }
    .blueContainer{
        width:20%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;
        overflow: hidden;
        // border: 1px solid black;

        .blue{
            width: 150%;
            position: absolute;
            left: 7rem;
            top: 5rem;

            @media only screen and (max-width: 1000px) {
                width: 170%;
                left: 3rem;
                }
                @media only screen and (max-width: 800px) {
                    width:0;
                            }
        }
    }
}
