@media only screen and (max-width: 800px) {
  html {
    font-size: 45%;
  }
}



.upper {
  background-color: #fed350;
  max-height: 115vh;
  display: flex;
  flex-direction: row;
  // border: 2px red solid;

  .left {
    width: 30%;
    @media only screen and (max-width: 1000px) {
      width: 10%;
    }
    .Sauce_SuperSpicyContainer {
      position: relative;
      width: 40%;
      min-width: 10rem;
      @media only screen and (max-width: 600px) {
        width: 0;
        min-width: 0;

      }

      .Sauce_SuperSpicy {
        position: absolute;
        top: -5rem;
        left: 25rem;
      }
    }
    .bowlFillItContainer {
      position: relative;
      width: 120%;
      min-width: 40rem;

      .bowlFillIt {
        position: absolute;
        left: -25rem;
        @media only screen and (max-width: 1000px) {
          left: -25rem;
        }

        @media only screen and (max-width: 600px) {
          top: 10rem;
          left: -25rem;
        }
      }
    }
    .Sauce_SweetContainer {
      width: 40%;
      position: relative;
      min-width: 10rem;
      .Sauce_Sweet {
        position: absolute;
        left: 13rem;
        @media only screen and (max-width: 1000px) {
          top: 15rem;
          left: 5rem;
        }
        @media only screen and (max-width: 600px) {
          top: 15rem;
          left: -4rem;
        }
      }
    }
  }
  .middle {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    // border: 2px red solid;

    @media only screen and (max-width: 1000px) {
      width: 80%;
    }

    .wingItContainer {
      width: 50%;
      padding: 20% 0 15% 0;
      max-width: 25rem;
      @media only screen and (max-width: 1000px) {
        padding: 5% 0;
      }
    }
    h2 {
      font-size: 3rem;
      font-weight: bold;
      line-height: 1.71;
      letter-spacing: -0.61px;
      text-align: center;
      padding: 5%;
      // border: 2px red solid;

      span {
        background-color: #ffffff;
      }
    }

    p {
      font-size: 18.3px;
      font-weight: bold;
      line-height: 1.71;
      letter-spacing: -0.61px;
      text-align: center;
      // border: 2px red solid;

      span {
        background-color: #ffffff;
      }
    }
  }

  .right {
    width: 30%;

    @media only screen and (max-width: 1000px) {
      width: 10%;
    }
    .bowlFillItwhiteContainer {
      width: 120%;
      position: relative;
      min-width: 40rem;

      .bowlFillItwhite {
        position: absolute;
        top: -20rem;
        left: 0.1rem;

        @media only screen and (max-width: 1400px) {
          top: -20rem;
          left: -10rem;
        }
        @media only screen and (max-width: 1000px) {
          top: -10rem;
          left: -30rem;
        }
      }
    }
    .Sauce_SuperSpicyContainer {
      position: relative;
      width: 40%;
      min-width: 10rem;

      .Sauce_SuperSpicy {
        position: absolute;
        top: -15rem;
        left: 15rem;
        @media only screen and (max-width: 1000px) {
          top: 0rem;
          left: 0rem;
        }
      }
    }
    .bowlFillItContainer {
      width: 120%;
      position: relative;
      min-width: 40rem;
      @media only screen and (max-width: 600px) {
        width: 0;
        min-width: 0;
      }
      .bowlFillIt {
        position: absolute;
        top: -20rem;
        left: 15rem;

        @media only screen and (max-width: 1400px) {
          top: -15rem;
          left: 1rem;
        }
        @media only screen and (max-width: 1000px) {
          top: 5rem;
          left: -20rem;
        }

      
      }
    }
  }
}

.below {
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    max-width: 70rem;
    padding: 5% 2% 0 2%;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: rgba(54, 59, 70, 0.32);
  }
  .concepts {
    padding: 0 2% 2% 2%;
    ul {
      display: flex;
      flex-direction: row;
      // justify-content: space-between;
      align-items: center;
      padding: 5%;
      li {
        width: 20rem;
        list-style: none;
        padding: 20px;
      }
    }
  }
}

.conceptsInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #363b46;
  @media only screen and (max-width: 600px) {
    flex-direction: column;
  //  align-content: center;
  }
  

  .LogoWhiteContainer {
    width: 17rem;
    // border: #fed350 2px solid;
    @media only screen and (max-width: 600px) {
    margin-top: 25px;
    }

  }
  p {
    // border: #fed350 2px solid;
    text-align: center;
    padding: 25px;
    max-width: 50rem;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    span {
      font-weight: 800;
      // color: #fed350;
    }
    @media only screen and (max-width: 600px) {
    padding: 25px;
    margin-top: 10px;
      }
  }
}
